<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>5xx - we f up</title>
  <link rel="stylesheet" href="/css/404.css">
</head>
<body>

  <header>
    <div class="container">
      <h1>Blogcms</h1>
      
  </header>


  <main>
    <div class="container">

      <section class="error-section">
        <h2>5xx</h2>
        <p class="error-message">Internal Server Error</p>
        <p class="error-description">It seems like we've faced problem, </p>
        <a href="/" class="btn">Go Back Home</a>
      </section>
    </div>
  </main>


  <footer>
    <div class="container">
      <p>&copy;BlogCMS. All rights reserved. <p style="font-size: smaller;">Developed by Natneal Amsalu(N7y) </p> </p>
    </div>
  </footer>
</body>
</html>